---
---
<!DOCTYPE html>
<html dir="ltr" lang="it">
<head>

  <!-- Twitter Cards -->
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  {% if page.excerpt %}<meta name="twitter:description" content="{{ page.title }}">{% endif %}
  {% if site.owner.twitter %}<meta name="twitter:site" content="@{{ site.author.twitter }}">{% endif %}
  {% if author.twitter %}<meta name="twitter:creator" content="@{{ site.author.twitter }}">{% endif %}
  {% if page.image.feature %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ site.url }}/img/projectopendata_wall.png">
  {% else %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{% if page.image %}{{ site.url }}/img/projectopendata_wall.png{% else %}{{ site.url }}/img/projectopendata_wall.png{% endif %}">
  {% endif %}


  <!-- Facebook -->
  <meta property="og:site_name" content="{{ site.title }}">
  {% if page.title %}
  <meta property="og:title" content="{{ page.title }}">
  {% else %}
  <meta property="og:title" content="{{ site.title }}">
  {% endif %}
  {% if page.title %}
  <meta property="og:type" content="article">
  {% else %}
  <meta property="og:type" content="website">
  {% endif %}
  {% if page.description %}
  <meta property="og:description" content="{{ page.title }}">
  {% else %}
  <meta property="og:description" content="{{ site.description }}">
  {% endif %}
  {% if page.url %}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  {% endif %}
  {% if page.date %}
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
  <meta property="article:author" content="{{ site.url }}/about/">
  {% endif %}
  {% if page.image %}
  <meta property="og:image" content="{{ site.url }}/img/projectopendata_wall.png">
  {% else %}
  <meta property="og:image" content="{{ site.url }}/img/projectopendata_wall.png">
  {% endif %}
  {% if page.tags %}
    {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}">
    {% endfor %}
  {% endif %}

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
	<meta name="keywords" content="{{ site.keywords }}">
	<meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="combo.css">

  <!-- FONT -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,300italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  
  <!-- ICON -->
  {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
	{% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}
</head>

<body>
  <div id="main">

<!-- original nav
    <nav><ul>
      {% for node in site.posts reversed %}
        {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
        <li class="p-{{id}}"><a href="#{{id}}">{{node.title}}</a></li>
      {% endfor %}
        <li class="p-{{id}}"><a href="#footer"><i class="fa fa-info-circle"></i></a></li>
    </ul></nav>
-->

    <nav><ul>
        <li class="p-intro"><a href="#intro">masterplan</a></li>
        <li class="p-a-chi-si-rivolge"><a href="#a-chi-si-rivolge"><i class="fa fa-user-plus"></i></a></li>
        <li class="p-schema"><a href="#schema"><i class="fa fa-refresh"></i></a></li>
        <li class="p-glossario"><a href="#glossario"><i class="fa fa-language"></i></a></li>
        <li class="p-architetture"><a href="#architetture"><i class="fa fa-building-o"></i></a></li>
        <li class="p-sicurezza"><a href="#sicurezza"><i class="fa fa-medkit"></i></a></li>
        <li class="p-intro"><a href="#footer"><i class="fa fa-info-circle"></i></a></li>
    </ul></nav>


    {% for page in site.posts reversed %}
      {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
      <div id="{{id}}" class="section p-{{id}}">
        {% if page.icon %}
        <div class="subtlecircle sectiondivider imaged">
          <img src="{{page.icon}}" alt="section icon" />
          <h5 class="icon-title">{{ page.title }}</h5>
        </div>
        {% elsif page.fa-icon %}
        <div class="subtlecircle sectiondivider faicon">
          <!-- <h5 class="icon-title">{{ page.title }}</h5> -->
        </div>
        {% endif %}
        <div class="container {{ page.style }}">
          {% if page.safe %}
          <p style="text-align:center"><a href="{{ site.url }}/#sicurezza"><i class="fa fa-medkit"></i></a></p>
          {% endif %}
          {% if page.prev %}
          <h2>
            <a href="#{{ page.prev }}"><i class="fa fa-angle-up"></i></a>
            <a href="{{ site.url }}/#{{ page.permalink }}">{{ page.title }}</a>
            <a href="#{{ page.post }}"><i class="fa fa-angle-down"></i></a>
          </h2>
          {% endif %}
          {{ page.content }}
        </div>
      </div>
    {% endfor %}


    <div id="footer" class="section text-white">
      <div class="container">
        {% capture foottext %} {% include footer.md %} {% endcapture %}
        {{ foottext | markdownify }}
      </div>
    </div>
  </div>

{% include analytics.html %}
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="site.js"></script>
</html>
